/* 
    Created on : 09-jul-2019, 16:09:57
    Author     : RVS
    link: https://jsfiddle.net/cRsZE/984/
*/

h1{
  background: #ff9999;
  text-align: center;
}

ul , li {
  display: block;
  margin: 0 auto;  
  border-radius: 7px;
}


span#titulo{
  font-size: 30px;
}



li{
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

li:hover, a:active  {
  background-color: #99ff99;
}


a{
  font-size: 20px;
  text-decoration: none;
}

a#salto{
  display: block;
  padding-bottom: 10px;
}