/* 
    Created on : 09-jun-2019, 12:58:56
    Author     : RVS
*/

p#p1 , p#p2 , p#p3{
  display: inline-block;
  color: red;
  background-color: #ccffff;
  font-size: 25px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 100px;
  border-radius: 15px;
}

span#s1 , span#s2{
  display: block;
  background-color: #ffcc99;
  font-size: 25px;
  margin-left: 40px;
  text-align: center;
  width: 100px;
  border-radius: 15px;
}

label[for="i1"] {
  width: 150px;
  display: block;
  margin: 5px;
  padding: 10px;
  background-color: #ffff99;
}

label#i1 , input#i1{
  width: 80px;
  height: 40px;
  display: block;
  padding: 10px;
  margin: 10px;
  background-color: #ffff99;
  border-radius: 12px;
}


