<!--Created on 02-jul-2019, 14:07:46-->
<!-- Referencia :  -->
<!DOCTYPE html>
<!--directiva-->
<html lang="es">
  <head>
    <title>titulo</title>
    <meta charset="UTF-8">
    <meta name="author" content="Raul Vela Salas">
    <meta name="description" content="...">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="shortcut icon" href="https://goo.gl/cais23">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style>

      div{
        margin: 10px;
        padding: 10px;
        border-radius: 6px;
        background-color: #ff9999;
      }

      input{
        display: inline-block;
        margin: 10px;
      }

      h3{
        width: 220px;
        padding: 10px;
        border-radius: 7px;
        background-color: #ffff99;
      }

    </style>
   
  </head>
  <body>
    <div ng-app="myApp" ng-controller="myCtrl">
      <input type="checkbox" ng-model="si" ng-change="favor()">A favor
      <input type="checkbox" ng-model="no" ng-change="contra()">En contra
      <h3>Total Votos a favor : {{count1}}</h3>
      <h3>Total Votos en contra : {{count2}}</h3>
    </div>

    <script>
      angular.module('myApp', [])
              .controller('myCtrl', ['$scope', function ($scope) {
                  $scope.count1 = 0;
                  $scope.count2 = 0;

                  $scope.favor = function () {
                    $scope.count1++;
                  };
                  
                  $scope.contra = function () {
                    $scope.count2++;
                  };
                }]);
    </script>

  </body>
</html>