/* 
    Created on : 04-jun-2019, 13:10:32
    Author     : RVS
*/

main{
  display: block;
  padding: 0 1rem;
  margin: 1rem;
  align-content: center;
  text-align: center;
}

td.filas{
  background-color: #ff9999;
}

table.center{
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  align-content: center;
  background-color: #ff9999;
  margin-left:15%; 
  margin-right:15%;
  justify-content: center;
  text-align: center;
  width:70%; 
}

th{
  padding: 10px;
}

tr {
  background: #ffff99;
  padding: 150px;
  height: 50px;
  width: 150px;
}