/* 
    Created on : 17-jun-2019, 14:07:43
    Author     : RVS
*/
body{
  font-family: 'Open Sans' , sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #888;
  line-height: 30px;
  text-align: center;
}

strong { font-weight: 600;}

a , a:hover , a:focus{
  color: #9b59b6;
  text-decoration: none;
  transition: all .3s;
}

h1 , h2{
  margin-top: 10px;
  font-family: 'Montserrat' , sans-serif;
  font-size: 38px;
  font-weight: 300;
  color: #555;
  line-height: 50px;
}

/****** Top menu ******/
/* selectores { propiedad : valor } */
.navbar{
  background: #444;
  -o-transition: all .6s;
  -moz-transition: all .6s;
  -webkit-transition: all .6s;
  -ms-transition: all .6s;
  transition: all .6s;
  backface-visibility: hidden;
}

/* ------------ no-bg = background --------- */
.navbar .navbar-no-bg{
  background: #444;
  background: rgba(0, 0, 0, 0.2);
}

.navbar-dark .navbar-nav{
  font-size: 15px;
  color: #fff;
  font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link{
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
}

.navbar-dark .navbar-nav .nav-link:hover{
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus{
  color: #fff;
  outline: 0;
}

.navbar-expand-md .navbar-nav .nav-link{
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-brand{
  width: 136px;
  background: url(../..//img/60x60bb.jpg) left center no-repeat;
  border: 0;
  text-indent: -99999px;
}
/****** End Top menu ******/

/***** Top content *****/
.top-content{
  padding: 210px 0;
}

.top-content .text{
  color: #fff;
}

.top-content .tex h1{
  margin-top: 25px;
  color: #fff;
}

.top-content .desciption{
  margin: 30px 0 10px 0;
}

.top-content .desciption p{
  opacity: 0.8;
}

.top-content .top-big-link{
  margin-top: 45px;
}

/* CSS first button */
.btn-link-1{
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  padding: 0 28px;
  background: #9b59b6;
  background: rgba(155,89,182,0.7);
  border: 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 48px;
  color: #fff;
  border-radius: 4px;
  transition: all .3s;
}

.btn-link-1:hover, 
.btn-link-1:focus, 
.btn-link-1:active, 
.btn-link-1:active:focus,
.btn-link-1.btn-primary:not(:disabled):not(.disabled):active,
.btn-link-1.btn-primary:not(:disabled):not(.disabled):active:focus{
  background: #9b59b6;
  background: rgba(155,89,182,0.9);
  outline: 0;
  color: #fff;
  box-shadow: none;
}

/***** Services *****/

.services-box{
  padding-top: 30px;
  text-align: left;
}

.services-box .services-box-icon{
  width: 80px;
  height: 80px;
  margin: 0 auto;
  font-size: 40px;
  color: #fff;
  line-height: 80px;
  text-align: center;
  border-radius: 28px;
  background: #9b59b6;
  background: -moz-linear-gradient(top,  #ffb24b 0%, #9b59b6 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear, 
    left top, 
    left bottom, 
    color-stop(0%,#ffb24b), 
    color-stop(100%,#9b59b6)); /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(
    top,  #ffb24b 0%,#9b59b6 100%); /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(
    top,  #ffb24b 0%,#9b59b6 100%); /* Opera 11.10+ */

  background: -ms-linear-gradient(
    top,  #ffb24b 0%,#9b59b6 100%); /* IE10+ */

  background: linear-gradient(
    to bottom,  #ffb24b 0%,#9b59b6 100%); /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr='#ffb24b', 
    endColorstr='#9b59b6',
    GradientType=0); /* IE6-9 */
}

.services-box h3{
  margin-top: 0;
  padding: 0 0 10px 0;
}

/**** About us ****/

.about-us-box{
  margin-top: 100px;
}

.about-us-box-text{
  padding-right: 30px;
  text-align: left;
}

.about-us-box-text h3{
  margin-top: 0;
}

.about-us-box-text .medium-paragraph{
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-us-box-text a{
  border-bottom: 1px dashed #9b59b6;
}

.about-us-box-text a:hover , 
.about-us-box-text a:focus{
  border: 0;
}

.about-us-box-img img{
  border-radius: 4px;
}

/**** Portfolio ****/
.portfolio-box{
  padding-top: 30px;
  text-align: left;
}

.portfolio-box-image{
  overflow: hidden;
  border-radius: 4px;
}

.portfolio-box-image img{
  -o-transition: all .8s;
  -moz-transition: all .8s;
  -webkit-transition: all .8s;
  -ms-transition: all .8s;
  transition: all .8s;
}

.portfolio-box-image:hover img{
  -o-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
}

.portfolio-box h3{
  margin-top: 30px;
}
.portfolio-box h3 a { color: #555;}
.portfolio-box h3 a:hover,
.portfolio-box h3 a:focus { color: #9b59b6;}

.portfolio-box h3{
  padding-left: 10px;
  color: #ccc;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.portfolio-box h3:hover i {
  padding-left: 15px;
}

.portfolio-box-date{
  padding-bottom: 10px;
  font-size: 14px;
  color: #aaa;
  text-transform: uppercase;
}

.portfolio-box-date i {
  padding-right: 5px;
  color: #ddd;
}

.portfolio-container .section-bottom-button{
  padding-top: 40px;
}


/**** Testimonials ****/
.testimonials-container{
  padding-bottom: 70px;
}

.testimonial-list{
  margin-top: 30px;
  text-align: center;
}

.testimonial-list .testimonial-image img{
  max-width: 160px;
  border-radius: 4px;
}

.testimonial-list .testimonial-text{
  margin-top: 30px;
  opacity: 0.8;
}

.testimonial-list .testimonial-text a {
  color: #fff;
  border-bottom:  1px dashed #fff;
}

.testimonial-list .testimonial-text a:hover,
.testimonial-list .testimonial-text a:focus{
  color: #fff;
  border: 0;
}

.testimonial-list .nav-tabs{
  margin-top: 45px;
  border: 0;
  justify-content: center;
}

.testimonial-list .nav-tabs li{
  margin-left: 10px;
  margin-right: 10px;
}

.testimonial-list .nav-tabs li a{
  width: 16px;
  height: 16px;
  padding: 0;
  background: none;
  border: 1px solid #fff;
  border-color: rgba(255,255,255,0.8);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.testimonial-list .nav-tabs li a:hover,
.testimonial-list .nav-tabs li a:focus{
  background: #fff;
  background: rgba(255,255,255,0.8);
  border: 1px solid #fff;
  border-color: rgba(255,255,255,0.8);
}

.testimonial-list .nav-tabs li a.active,
.testimonial-list .nav-tabs li a.active:focus{
  background: #9b59b6;
  background: -moz-linear-gradient(top, #ffb24b 0% , #9b59b6 100%);
  background: -webkit-gradient(linear, left top, left bottom, 
    color-stop(0%,#ffb24b), 
    color-stop(100%,#9b59b6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffb24b 0% , #9b59b6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffb24b 0% , #9b59b6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffb24b 0% , #9b59b6 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffb24b 0% , #9b59b6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb24b', 
    endColorstr='#9b59b6', GradientType=0 ); /* IE6-9 */
  border: 0;
}