/* 
    Created on : 09-jul-2019, 16:09:57
    Author     : RVS
    link: https://jsfiddle.net/cRsZE/984/
*/

@font-face{
  font-family: "Telefonica Light";
  src: url("../font/TelefonicaWeb-Light.ttf");
}

ul#menu-desplegable , 
ul#menu-desplegable1 , 
ul#menu-desplegable2 ,
ul#menu-desplegable3 ,
ul#menu-desplegable4 ,
ul#menu-desplegable5 ,
ul#menu-desplegable6 
{
  text-align: center;
  margin: 0 auto;  
  list-style-type: none;
  padding: 10px;
  border-radius: 12px;
  border: 3px solid #10bbca;
}

/* Dentro de la lista - la 2º Seccion de la lista desplegaba */
li.lista {
  padding: 10px;
  text-align: center;
  list-style-type: none;
  color: #ffffff;
  border-radius: 12px;
  border: 2px solid #10bbca;
}

/* Recuadro completa   */
li.lista:hover , 
a.contenido:active  {
  font-size: 25px;
}


ul#header-nav{
  padding: 10px;
} 

/*Mi Codigo*/
ul#menu-desplegable:before , 
ul#menu-desplegable1:before , 
ul#menu-desplegable2:before ,
ul#menu-desplegable3:before ,
ul#menu-desplegable4:before ,
ul#menu-desplegable5:before ,
ul#menu-desplegable6:before 
{
  width: 50px;
}

ul#menu-desplegable:after , 
ul#menu-desplegable1:after , 
ul#menu-desplegable2:after ,
ul#menu-desplegable3:after ,
ul#menu-desplegable4:after ,
ul#menu-desplegable5:after ,
ul#menu-desplegable6:after 
{
  width: 50px;
}

/* Ventana desplegable */
#nav-desplegable ul , 
#nav-desplegable1 ul , 
#nav-desplegable2 ul ,
#nav-desplegable3 ul ,
#nav-desplegable4 ul ,
#nav-desplegable5 ul ,
#nav-desplegable6 ul 
{
  display: none;  
  margin: 10px;
  border-radius: 12px;
}

/* Fondo de la barra del desplegable */ 
#nav-desplegable .visible , 
#nav-desplegable1 .visible1 , 
#nav-desplegable2 .visible2 , 
#nav-desplegable3 .visible3 ,  
#nav-desplegable4 .visible4 ,
#nav-desplegable5 .visible5 ,
#nav-desplegable6 .visible6  
{
  display: block; 
  /*Fondo de imagen*/
  /*background: #ffffff;*/
}

/* Interior de la ventana secundaria */
ul.header-nav{
  padding: 10px;
  font-size: 15px;
}

object.ventana{
  width: 150px;
}