
@media (min-width: 992px) {
  .services-box 
  .services-box-icon { 
    width: 60px; 
    height: 60px; 
    font-size: 32px; 
    line-height: 60px; 
    border-radius: 22px; 
  }
  .about-us-box-text { 
    padding-right: 0; 
  }

  a.contenido{    
    display: block;
  }

  h2.titulo2  { 
    font-size: 32px; 
    margin: 20px auto;
    width: 320px;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  .services-box 
  .services-box-icon { 
    width: 60px; 
    height: 60px; 
    font-size: 32px; 
    line-height: 60px; 
    border-radius: 22px; 
  }
  .about-us-box-text { 
    padding-right: 0; 
  }

  a.contenido{    
    display: block;
  }

  h2.titulo2  { 
    font-size: 32px; 
    margin-top: 20px;
    width: 320px;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-expand-md 
  .navbar-nav 
  .nav-link { 
    padding-left: 0.6rem; 
    padding-right: 0.6rem; 
  }

  .top-content { 
    padding: 180px 0; 
  }

  .section-description p { 
    padding: 0; 
  }

  .services-box 
  .services-box-icon { 
    width: 50px; 
    height: 50px; 
    font-size: 26px; 
    line-height: 50px; 
    border-radius: 18px; 
  }

  .about-us-box { 
    margin-top: 80px; 
  }

  .about-us-box:last-child { 
    margin-top: 50px; 
  }

  .about-us-box-text { 
    padding-right: 0; 
    text-align: center; 
  }

  .more-services-box 
  .more-services-box-icon { 
    width: 50px; 
    height: 50px; 
    font-size: 26px; 
    line-height: 50px; 
    border-radius: 18px; 
  }

  .portfolio-box h3:hover i { 
    padding-left: 10px; 
  }

  .blog-box h3:hover i { 
    padding-left: 10px; 
  }

  a.contenido{    
    display: block;
    padding: 10px;
    margin: 20px;
  }

  h2.titulo2  { 
    font-size: 32px; 
    margin: 20px auto;
    width: 320px;
  }

}

@media (max-width: 767px) {

  .navbar.navbar-no-bg { background: #444 !important;  }
  .navbar-dark .navbar-toggler { border-color: #444; }
  .navbar-dark .navbar-toggler:focus { 
    background: #333; 
    outline: 0; 
  }

  .navbar-expand-md .navbar-nav .nav-link { 
    padding-top: 0.3rem; 
    padding-bottom: 0.3rem; 
  }

  .top-content { padding: 140px 0; }
  .top-content .top-big-link { margin-top: 25px; }
  .top-content .top-big-link a.btn { margin-top: 10px; }

  .section-description p { padding: 0; }

  .services-container { 
    padding-bottom: 60px;
  }

  .services-box { 
    text-align: center; 
  }

  .services-box h3 { 
    margin-top: 20px; 
    padding-top: 10px; 
  }

  .about-us-box { 
    margin-top: 80px; 
  }

  .about-us-box:last-child { 
    margin-top: 50px;
  }

  .about-us-box-text { 
    padding-right: 0; 
    text-align: center; 
  }

  .more-services-box { 
    text-align: center; 
  }

  .more-services-box h3 { 
    margin-top: 20px; 
    padding-top: 10px; 
  }

  .portfolio-box { 
    text-align: center; 
  }

  .portfolio-box-image { 
    max-width: 540px; 
    margin: 0 auto; 
  }

  .blog-box { 
    text-align: center; 
  }

  .blog-box-image { 
    max-width: 540px; 
    margin: 0 auto; 
  }

  .blog-box h3 { 
    margin-top: 30px; 
  }

  footer { 
    text-align: center; 
  }

  .footer-right { 
    padding-top: 10px; 
    text-align: center; 
  }
  .footer-bottom { padding-top: 20px; }

  a.contenido{    
    display: block;
  }

  h2.titulo2  { 
    font-size: 32px; 
    margin: 20px auto;
    width: 320px;
  }

} 

@media (max-width: 415px) {
  h1, h2.titulo2 { 
    font-size: 32px; 
    margin: 20px auto;
    width: 320px;
  }

  div.row.justify-content-center{
    width: 370px;
  }
}

/*plugin Retina-ize images/icons para los dispositivos IOS mejora la vision de los pixeles*/ 
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  logo 
  .navbar-brand {
    background-image: url("../..//assets/img/ico/iconos/60x60bb.jpg") !important; 
    background-repeat: no-repeat !important; 
    background-size: auto !important;
  }
}
