
@media (min-width: 1199px) {

  h2.titulo2{
    width: 480px;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  .services-box
  { 
    width: 60px; 
    height: 60px; 
    font-size: 32px; 
    line-height: 60px; 
    border-radius: 22px; 
  }

  h2.titulo2{
    width: 480px;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-expand-md 
  .navbar-nav 
  .nav-link { 
    padding-left: 0.6rem; 
    padding-right: 0.6rem; 
  }

  .top-content { 
    padding: 180px 0; 
  }

  h2.titulo2{
    width: 480px;
  }

  .section-description p { 
    padding: 0; 
  }

  .services-box { 
    width: 50px; 
    height: 50px; 
    font-size: 26px; 
    line-height: 50px; 
    border-radius: 18px; 
  }

  .more-services-box 
  .more-services-box-icon { 
    display: block;
    width: 50px; 
    height: 50px; 
    font-size: 26px; 
    line-height: 50px; 
    border-radius: 18px; 
  }

}

/*Todo lo que este por debajo de 767px */
@media (max-width: 767px) {

  .navbar.navbar-no-bg { background: #444 !important;  }
  .navbar-dark .navbar-toggler { border-color: #444; }
  .navbar-dark .navbar-toggler:focus {
    background: #333; 
    outline: 0; 
  }

  /* Barra de navegacion desplegado en vertical */
  .navbar-expand-md .navbar-nav .nav-link { 
    padding-top: 0.3rem; 
    padding-bottom: 0.3rem; 
  }

  .top-content { padding: 140px 0; }
  .top-content .top-big-link { margin-top: 25px; }
  .top-content .top-big-link a.btn { margin-top: 10px; }

  .section-description p { padding: 0; }

  .services-container { 
    padding-bottom: 60px;
  }

  .services-box { 
    text-align: center; 
  }

  .services-box h3 { 
    margin-top: 20px; 
    padding-top: 10px; 
  }

  .more-services-box { 
    /*text-align: center;*/ 
  }

  .more-services-box h3 { 
    margin-top: 20px; 
    padding-top: 10px; 
  }

  footer { 
    text-align: center; 
  }

  .footer-right { 
    padding-top: 10px; 
    text-align: center; 
  }
  
  .footer-bottom { padding-top: 20px; }
}

@media (max-width: 415px) {

  h1, h2 { font-size: 32px; }

  /* Se activa cuando pongo el curso encima */
  a.contenido:hover { 
    background: #10bbca;
  }

  a.contenido:focus{
    font-weight: bolder;
    color: red;
  }
}

/* plugin Retina-ize images/icons para los dispositivos IOS mejora la vision de los pixeles */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  /* logo */
  .navbar-brand {
    background-image: url("../..//assets/img/ico/iconos/60x60bb.jpg") !important; 
    background-repeat: no-repeat !important; 
    background-size: auto !important;
  }

}
