/* 
    ESTILOS GENERALES 
    Created on : 17-jun-2019, 14:07:43
    Author     : RVS
    Archivo    : stylePagina
*/

@font-face{
  font-family: "Telefonica Light";
  src: url("../font/TelefonicaWeb-Light.ttf");
}

body{
  font-family: 'Telefonica Light' , sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #888;
  line-height: 30px;
  text-align: center;
}

strong { 
  font-weight: 600;
}

/*** Enlaces se iluminan al señalarlos ***/
a , a:hover , a:focus{
  color: #9b59b6;
  text-decoration: none;
  transition: all .3s;
}

/*** Titulos Centrales de cada seccion ***/
h1 , h2{
  margin-top: 30px;
  font-family: 'Telefonica Light' , sans-serif;
  font-size: 38px;
  font-weight: 300;
  color: #555;
  line-height: 50px;
  text-align: center; 
  /*Mis cambios*/
  border-radius: 12px;
  border: 2px solid #10bbca;
}

h2.titulo2{
  margin: 20px auto;
  width: 400px;
}

/*** Subtitulo de cada seccion ***/
h3.titulo3{
  margin-bottom: 0px;
  font-family: 'Telefonica Light', sans-serif;
  font-size: 22px;
  font-weight: 300;
  color : #555; 
  line-height: 30px;
  text-align: center; /**/
  border-radius: 12px;
  border: 2px solid #10bbca;
}

/*** Todas las imagenes que aparecen ***/
img { 
  max-width: 100%;
}

/*** Parrafo - About us ***/
.medium-paragraph{
  font-size: 17px;
  line-height: 32px;
}

.colored-text{
  font-size: 117px;
  color: #9b59b6;
}

::-moz-selection { 
  background: #9b59b6; 
  color: #fff; 
  text-shadow: none;
}

::selection { 
  background: #9b59b6; 
  color: #fff;
  text-shadow: none;
}

/**** General style , all sections ****/

/* Linea que separa cada seccion */
.section-container { 
  margin: 0 auto;
  padding-bottom: 80px;
}

/* Linea que separa la seccion de color gris - background */
.section-container-gray-bg {
  background: #f8f8f8;
}

/* Linea que envuelve el recuadro de la imagenes*/
.section-container-image-bg,
.section-container-image-bg h2,
.section-container-image-bg h3 {
  color: #fff;
}

/* No se encontro */
.section-container-image-bg .divider-1 span {
  border-color: #fff;
}

/* Titulo que describe cada seccion */
.section-description {
  margin-top: 60px;
}

.section-description p{
  margin-top: 20px;
  padding: 0 120px;
}

.section-container-image-bg .section-description p {
  opacity: 0.8;
}

.section-bottom-button{
  padding-top: 60px;
}

/* Boton Download 1 - seccion principal */ 
.btn-link-1{
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  padding: 0 28px;
  background: #9b59b6;
  background: rgba(155,89,182,0.7);
  border: 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 48px;
  color: #fff;
  border-radius: 4px;
  transition: all .3s;
}

.btn-link-1:hover, .btn-1:focus, .btn-link-1:active, .btn-link-1:active:focus,
.btn-link-1.btn-primary:not(:disabled):not(.disabled):active,
.btn-link-1.btn-primary:not(:disabled):not(.disabled):active:focus{
  background: #9b59b6;
  background: rgba(155,89,182,0.9);
  outline: 0;
  color: #fff;
  box-shadow: none;
}

/* Boton Servicios 2 - seccion principal */ 
.btn-link-2{
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  padding: 0 28px;
  background: #333;
  background: rgba(0,0,0,0.2);
  border: 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 48px;
  color: #fff;
  border-radius: 4px;
  transition: all .3s;
}

.btn-link-2:hover, .btn-2:focus, .btn-link-2:active, .btn-link-2:active:focus,
.btn-link-2.btn-primary:not(:disabled):not(.disabled):active,
.btn-link-2.btn-primary:not(:disabled):not(.disabled):active:focus{
  background: #333;
  background: rgba(0,0,0,0.4);
  outline: 0;
  color: #fff;
  box-shadow: none;
}

/* Boton Load more - Seccion portafolios */
.btn-link-3{
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  padding: 0 28px;
  background: none;
  border: 1px solid #9b59b6;
  border-bottom: 2px solid #9b59b6;
  font-size: 15px;
  font-weight: 600;
  line-height: 48px;
  color: #9b59b6;
  transition: all .3s;
}

.btn-link-3:hover, .btn-3:focus, .btn-link-3:active, .btn-link-3:active:focus,
.btn-link-3.btn-primary:not(:disabled):not(.disabled):active,
.btn-link-3.btn-primary:not(:disabled):not(.disabled):active:focus{
  padding: 0 10px;
  background: none;
  border: 0;
  border-bottom: 2px solid #9b59b6;
  outline: 0;
  color: #9b59b6;
  box-shadow: none;
}

/*** Divider ***/
.divider-1 span{
  display: inline-block;
  width: 200px;
  border-bottom: 1px dashed #ccc;
}

/****** Top menu ******/
/* selectores { propiedad : valor } */
.navbar{
  background: #444;
  -o-transition: all .6s;
  -moz-transition: all .6s;
  -webkit-transition: all .6s;
  -ms-transition: all .6s;
  transition: all .6s;
  backface-visibility: hidden;
}

.navbar.navbar-no-bg{ /* bg = background */
  background: #444;
  background: rgba(0, 0, 0, 0.2);
}

/* caja del menu */
.navbar-dark .navbar-nav{
  font-size: 15px;
  color: #fff;
  font-weight: 600;
}

/* cada boton del menu */
.navbar-dark .navbar-nav .nav-link{
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
}

/* marco que aperece cuando ponemos el puntero encima */
.navbar-dark .navbar-nav .nav-link:hover{
  color: #fff;
}


/* se activa cuando ponemos el puntero encima del boton del menu */
.navbar-dark .navbar-nav .nav-link:focus{
  color: #fff;
  outline: 0;
}

/* representa toda la barra de menu del nav */
.navbar-expand-md .navbar-nav .nav-link{
  padding-left: 1rem;
  padding-right: 1rem;
}

/* marco que tiene el icono en la barra del menu 'nav' */
.navbar-brand{
  width: 136px;
  background: url("../..//paginaPrincipal/assets/img/ico/iconos/60x60bb.jpg") left center no-repeat;
  border: 0;
  text-indent: -99999px;
}
/****** End Top menu ******/

/***** Top content *****/
/* Contenido principal que envuelve todo el marco de la ventana */
.top-content{
  padding: 210px 0;
}

/* Caja del contenido principal aparece en el centro de la pantalla */
.top-content .text{
  color: #fff;
}

/* Caja del titulo */
.top-content .text h1{
  margin-top: 25px;
  color: #fff;
}

/* Caja del subtitulo principal*/
.top-content .desciption{
  margin: 30px 0 10px 0;
}

/* Caja del subtitulo principal*/
.top-content .desciption p{
  opacity: 0.8;
}

/* Caja que envuelve los botones */
.top-content .top-big-link{
  margin-top: 45px;
}

/***** Services *****/

/* Caja seccion servicios */
.services-box{
  padding-top: 30px;
  text-align: left;
}

/* Personalizacion de botones con iconos de la seccion servicios */
.services-box .services-box-icon{
  width: 80px;
  height: 80px;
  margin: 0 auto;
  font-size: 40px;
  color: #fff;
  line-height: 80px;
  text-align: center;
  border-radius: 28px;

  background: #9b59b6;
  /*Modificamos los colores de fondo para mozilla*/
  background: -moz-linear-gradient(
    top,  
    #ffb24b 0%, 
    #9b59b6 100%); /* FF3.6+ */

  /*Modificamos los colores de fondo para chrome */
  background: -webkit-gradient(
    linear, 
    left top, 
    left bottom, 
    color-stop(0%,#ffb24b), 
    color-stop(100%,#9b59b6)); /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(
    top,  
    #ffb24b 0%,
    #9b59b6 100%); /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(
    top,  
    #ffb24b 0%,
    #9b59b6 100%); /* Opera 11.10+ */

  background: -ms-linear-gradient(
    top,  
    #ffb24b 0%,
    #9b59b6 100%); /* IE10+ */

  background: linear-gradient(
    to bottom,  
    #ffb24b 0%,
    #9b59b6 100%); /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr='#ffb24b', 
    endColorstr='#9b59b6',
    GradientType=0); /* IE6-9 */
}

/*Caja para cada seccion de los servicios junto a su icono */ 
.services-box h3{
  margin-top: 0;
  padding: 0 0 10px 0;
}

/* More Services */
.more-services-box{
  margin-top: 30px;
  text-align: left;
}

/* Iconos representan cada seccion de 'more services' */
.more-services-box .more-services-box-icon{
  width: 60px;
  height: 60px;
  margin: 0 auto;
  font-size: 28px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  border-radius: 22px;

  background : #9b59b6;
  background: -moz-linear-gradient(top, #ffb24b 0%, #9b59b6 100%);
  background: -webkit-gradient(linear, left top, left bottom, 
    color-stop(0%,#ffb24fb), 
    color-stop(100%,#9b59b6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffb24b 0%,#9b59b6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffb24b 0%,#9b59b6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffb24b 0%,#9b59b6 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffb24b 0%,#9b59b6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( 
    startColorstr='#ffb24b', 
    endColorstr='#9b59b6',
    GradientType=0 ); /* IE6-9 */
}

/* Caja envuelve los titulos de cada seccion */
.more-services-box h3{
  margin-top: 0;
  padding: 7px;
  border-radius: 12px;
}

/* Caja que envuelve el boton de Download */
.call-to-action-container .section-bottom-button{
  padding-top: 30px;
}

/**** Testimonials ****/
/*Caja principal*/
.testimonials-container{
  padding-bottom: 70px;
}

/*Caja central */
.testimonial-list{
  margin-top: 30px;
  text-align: center;
}

/*Caja central con la imagen */
.testimonial-list .testimonial-image img{
  max-width: 160px;
  border-radius: 4px;
}

/*Texto de la Caja central con la imagen */
.testimonial-list .testimonial-text{
  margin-top: 30px;
  opacity: 0.8;
}

/*Texto de la Caja central con la imagen y enlace principal */
.testimonial-list .testimonial-text a {
  color: #fff;
  border-bottom:  1px dashed #fff;
}

/*Texto del enlace de la caja central que se ilumina */
.testimonial-list .testimonial-text a:hover,
.testimonial-list .testimonial-text a:focus{
  color: #fff;
  border: 0;
}

/*Punto de la caja central - Elemento de navegacion */
.testimonial-list .nav-tabs{
  margin-top: 45px;
  border: 0;
  justify-content: center;
}

/* Cada Elemento de la lista */
.testimonial-list .nav-tabs li{
  margin-left: 10px;
  margin-right: 10px;
}

/* Cada Elemento de la lista como enlace */
.testimonial-list .nav-tabs li a{
  width: 16px;
  height: 16px;
  padding: 0;
  background: none;
  border: 1px solid #fff;
  border-color: rgba(255,255,255,0.8);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* Cada Elemento de la lista como enlace cuando se pasa por encina con el puntero*/
.testimonial-list .nav-tabs li a:hover,
.testimonial-list .nav-tabs li a:focus{
  background: #fff;
  background: rgba(255,255,255,0.8);
  border: 1px solid #fff;
  border-color: rgba(255,255,255,0.8);
}

/* Cada Elemento de la lista como enlace cuando se selecciona */
.testimonial-list .nav-tabs li a.active,
.testimonial-list .nav-tabs li a.active:focus{
  background: #9b59b6;
  background: -moz-linear-gradient(top, #ffb24b 0% , #9b59b6 100%);
  background: -webkit-gradient(linear, left top, left bottom, 
    color-stop(0%,#ffb24b), 
    color-stop(100%,#9b59b6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffb24b 0% , #9b59b6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffb24b 0% , #9b59b6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffb24b 0% , #9b59b6 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffb24b 0% , #9b59b6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb24b', 
    endColorstr='#9b59b6', GradientType=0 ); /* IE6-9 */
  border: 0;
}

/*** Footer ***/

/*Caja de la seccion footer*/
footer{
  padding: 40px 0 0 0;
  background: #444;
  color: #aaa;
  text-align: left;
}

/*Enlace con a las iniciales de la caja de la seccion del footer*/
.footer-left a { 
  color: #ddd;
  border-bottom: 1px dashed #ddd;
}

/*Enlace con las iniciales*/
.footer-left a:hover , .footer-left a:focus {
  color: #ddd;
  border: 0;
}

/*Caja con las redes sociales*/ 
.footer-right{
  text-align: right;
}

/* Enlaces de la Caja con las redes sociales*/ 
.footer-right a {
  margin: 0 6px;
  font-size: 32px;
  color: #aaa;
}

/* Enlaces de la Caja con las redes sociales*/ 
.footer-right a:hover, .footer-right a:focus {
  color: #eee;
}

/* Caja inferior para agregar el boton que sube el elemento */
.footer-bottom{
  padding-bottom: 25px;
  text-align: center;
}

/* Enlace de la caja inferior para agregar el boton que sube el elemento */
.footer-bottom a{
  font-size: 32px;
  color: #666;
  line-height: 40px;
}

/* Enlace de la caja inferior para agregar el boton que sube el elemento */
.footer-bottom a:hover, .footer-bottom a:focus {
  color: #888;
}

