<!--Created on 02-jul-2019, 14:07:46-->
<!-- Referencia :  -->
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>ng-controller</title>
    <meta charset="UTF-8">
    <meta name="author" content="Raul Vela Salas">
    <meta name="description" content="...">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="shortcut icon" href="https://goo.gl/cais23">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style>
      div{
        margin: 10px;
        padding: 10px;
      }
    </style>
  </head>
  <body>

    <div ng-app="myApp" ng-controller="miControlador">
      <input type="text" ng-model="nombre" placeholder="Nombre">
      <input type="text" ng-model="apellido" placeholder="Apellido">
      <h1>Hola {{nombre + " " + apellido}}</h1>
    </div>

    <script>
      var app = angular.module('myApp', []);

      app.controller('miControlador', function ($scope) {
        $scope.nombre = "John";
        $scope.apellido = "Doe";
      });
    </script>
  </body>
</html>