<!--Created on 02-jul-2019, 14:07:46-->
<!-- Referencia :  -->
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>titulo</title>
    <meta charset="UTF-8">
    <meta name="author" content="Raul Vela Salas">
    <meta name="description" content="...">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://goo.gl/cais23">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style></style>
  </head>
  <body>
    
    <div ng-app="">

      <p>Input something in the input box:</p>
      <p>Name : <input type="text" ng-model="name" placeholder="Enter name here"></p>

      <h1>Hello {{name}}</h1>

      Nombre : <input type="text" ng-model="nombre" placeholder="Introduce el nombre">
      <span>Hola {{nombre}}</span>

    </div>

  </body>
</html>